﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 40Kollection</title>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Merriweather:400,700" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("40Kollection", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if ((int)ViewBag.UserLevel > 0)
                    {
                        switch ((int)ViewBag.UserLevel)
                        {
                            case 1:
                            @*If user is freebie, they only get one*@
                            <li>@Html.ActionLink("My Collection", "Index", "Collections")</li>
                                break;

                            case 2:
                                <li>@Html.ActionLink("My Collections", "Index", "Collections")</li>
                                break;

                            case 3:
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Collections <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("My Collections", "Index", "Collections")</li>
                                    <li>@Html.ActionLink("All Collections", "ShowAll", "Collections")</li>
                                </ul>
                            </li>
                            break;
                        }
                    }
                    @if ((int)ViewBag.UserLevel > 2) { 
                        @*Only Admin can add units, unit types, unit roles, etc.*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Units <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Units", "Index", "Units")</li>
                                <li>@Html.ActionLink("Unit Types", "Index", "UnitTypes")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wargear <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Wargear", "Index", "Wargears")</li>
                                <li>@Html.ActionLink("Wargear Slots", "Index", "WargearSlots")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Squads <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("My Squads", "Index", "Squads")</li>
                                <li>@Html.ActionLink("All Squads", "ShowAll", "Squads")</li>
                                <li>@Html.ActionLink("Squad Roles", "Index", "SquadRoles")</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

            
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; @DateTime.Now.Year - 40Kollection</p>
                </div>
                <div class="col-md-6 text-right">
                    <p>Another <a href="http://lucas-williams.com">Lucas Williams</a> project.</p>
                </div>
            </div>
        </div>
    </footer>
    
    <div class="modal fade" tabindex="-1" role="dialog" id="pageModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
