﻿@model Kollection.Model.Entities.Unit

@{
    ViewBag.Title = "Delete Unit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.UnitType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitRole.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitRole.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Image)">
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movement)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Skill_Ballistic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skill_Ballistic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skill_Weapon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skill_Weapon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toughness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toughness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wounds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wounds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attacks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attacks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leadership)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leadership)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArmourSave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmourSave)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
