﻿@model Kollection.Model.Entities.Unit

@{
    ViewBag.Title = "Unit Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Points)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Image)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skill_Ballistic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skill_Ballistic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skill_Weapon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skill_Weapon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toughness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toughness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wounds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wounds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attacks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attacks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leadership)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leadership)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArmourSave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmourSave)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
