﻿@model Kollection.Model.Entities.Unit

@{
    ViewBag.Title = ViewBag.AddEdit + " Unit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/fileupload")
    <script type="text/javascript">
        $(document).on('click', '#add-wargear', function (e) {
            $gear = $('#wargear-selector option:selected');

            $('#unit-wargear-table tbody').append(
                '<tr>' +
                '    <td>' +
                '        <input type="hidden" name="wargearid[]" value="' + $gear.val() + '">' +
                         $gear.data('wargearslot') +
                '    </td>' +
                '    <td>' +
                         $gear.text() +
                '    </td>' +
                '    <td>' +
                '<button type="button" class="btn btn-danger remove-wargear"><i class="glyphicon glyphicon-trash"></i></button>' +
                '    </td>' +
                '</tr>'
            );
        });

        $(document).on('click', '.remove-wargear', function (e) {
            $(this).parents('tr').remove();
        });
    </script>
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="col-xs-12">
            <h3>Unit Details</h3>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UnitTypeId, "UnitTypeId", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("UnitTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitTypeId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Points, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Points, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Points, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label" })
                @Html.HiddenFor(model => model.Image, htmlAttributes: new { @class = "image-src" })
                <div class="fileupload">
                    <img src="@Html.DisplayFor(model => model.Image)" class="upload-preview" />
                    <input type="file" class="form-control image-upload" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Unit Statistics</h3>
        </div>
        <div class="col-xs-12 no-padding unit-stats">
            <div class="col-xs-2 col-sm-1">
                <div class="form-group">
                    @Html.LabelFor(model => model.Movement, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Movement, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Movement, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="col-xs-2 col-sm-1">
                <div class="form-group">
                    @Html.LabelFor(model => model.Skill_Weapon, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Skill_Weapon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill_Weapon, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-2 col-sm-1">
                <div class="form-group">
                    @Html.LabelFor(model => model.Skill_Ballistic, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Skill_Ballistic, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill_Ballistic, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-2 col-sm-1">
                <div class="form-group">
                    @Html.LabelFor(model => model.Strength, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Strength, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Strength, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-2 col-sm-1">
                <div class="form-group">
                    @Html.LabelFor(model => model.Toughness, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Toughness, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Toughness, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-2 col-sm-1">
                <div class="form-group">
                    @Html.LabelFor(model => model.Wounds, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Wounds, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Wounds, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-2 col-sm-1">
                <div class="form-group">
                    @Html.LabelFor(model => model.Attacks, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Attacks, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Attacks, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-2 col-sm-1">
                <div class="form-group">
                    @Html.LabelFor(model => model.Leadership, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Leadership, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Leadership, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-xs-2 col-sm-1">
                <div class="form-group">
                    @Html.LabelFor(model => model.ArmourSave, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ArmourSave, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ArmourSave, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Applicable Wargear</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 no-padding">
            <div class="col-xs-10">
                <select id="wargear-selector" class="form-control">
                    @foreach (var wargearslot in ViewBag.WargearSlots)
                    {
                        <optgroup label="@wargearslot.Name">
                            @foreach (var wargear in wargearslot.Wargears)
                            {
                                <option value="@wargear.Id" data-wargearslot="@wargearslot.Name" data-wargearpoints="@wargear.Points">@wargear.Name</option>
                            }
                        </optgroup>
                    }
                </select>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-success form-control" id="add-wargear"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table id="unit-wargear-table" class="table table-striped table-primary">
                <thead>
                    <tr>
                        <th>Slot</th>
                        <th>Item</th>
                        <th class="sorter-false"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var unitwargear in ViewBag.UnitWargear) { 
                        <tr>
                            <td>
                                <input type="hidden" name="wargearid[]" value="@unitwargear.WargearId">@unitwargear.Wargear.WargearSlot.Name
                            </td>
                            <td>
                                @unitwargear.Wargear.Name
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger remove-wargear"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
