﻿@model IEnumerable<Kollection.Model.Entities.Unit>

@{
    ViewBag.Title = "Units";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill_Ballistic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill_Weapon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toughness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wounds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attacks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leadership)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmourSave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th class="sorter-false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitType.Name)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Movement)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Skill_Ballistic)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Skill_Weapon)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Strength)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Toughness)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Wounds)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Attacks)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Leadership)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.ArmourSave)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
