﻿@model Kollection.ViewModels.AddUnitToSquadViewModel

@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">@Html.DisplayFor(model => model.UnitName)</h4>
</div>

<form id="add-unit-to-squad">
    <div class="modal-body">
        <table width="100%" class="table table-striped">
            <thead>
                <tr>
                    <th class="sorter-false"></th>
                    <th>Wargear</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.UnitGear.Count > 0)
                {
                    foreach (var wg in Model.UnitGear)
                    {
                        <tr>
                            <td><input type="checkbox" value="@wg.CollectionUnitId" name="UnitCollection[]" /></td>
                            <td><ul>@Html.Raw(wg.UnitWargear)</ul></td>
                    </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2">There are no spare models in your collection!</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</form>