﻿@model Kollection.ViewModels.UnitModalViewModel

@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">@Html.DisplayFor(model => model.Unit.Name)</h4>
</div>

<div class="modal-body">
    @if (Model.WargearSlots != null)
    {
        //Need a couple of special cases here
        switch (Model.WargearSlots.Count)
        {
            case 1:
                <div class="row">
                    <div class="col-xs-12">
                        @{ var slot1 = Model.WargearSlots.First(); }
                        <p><strong>@slot1.Name</strong></p>
                        <ul>
                            @if (slot1.Wargears != null)
                            {
                                foreach (var gear in slot1.Wargears)
                                {
                                    <li><input type="checkbox" name="unitWargear[]" value="@gear.Id" id="gear_@gear.Id" /><label for="gear_@gear.Id">@gear.Name</label></li>
                                }
                            }
                        </ul>

                    </div>
                </div>
            break;

            case 2:
                <div class="row">
                    <div class="col-sm-6">
                        @{ var slot2 = Model.WargearSlots.First(); }
                        <p><strong>@slot2.Name</strong></p>
                        <ul>
                            @if (slot2.Wargears != null)
                            {
                                foreach (var gear in slot2.Wargears)
                                {
                                    <li><input type="checkbox" name="unitWargear[]" value="@gear.Id" id="gear_@gear.Id" /><label for="gear_@gear.Id">@gear.Name</label></li>
                                }
                            }
                        </ul>

                    </div>
                    <div class="col-sm-6">
                        @{ var slot3 = Model.WargearSlots.Last(); }
                        <p><strong>@slot3.Name</strong></p>
                        <ul>
                            @if (slot3.Wargears != null)
                            {
                                foreach (var gear in slot3.Wargears)
                                {
                                    <li><input type="checkbox" name="unitWargear[]" value="@gear.Id" id="gear_@gear.Id" /><label for="gear_@gear.Id">@gear.Name</label></li>
                                }
                            }
                        </ul>

                    </div>
                </div>
                break;

            default:
                <div class="row">
                    @{ int i = 0;}
                    @foreach (var slot in Model.WargearSlots)
                    {
                        i++;
                        <div class="col-sm-4">
                            <p><strong>@slot.Name</strong>
                            </p>
                            <ul>
                                @if (slot.Wargears != null)
                                {
                                    foreach (var gear in slot.Wargears)
                                    {
                                        <li><input type="checkbox" name="unitWargear[]" value="@gear.Id" id="gear_@gear.Id" /><label for="gear_@gear.Id">@gear.Name</label></li>
                                    }
                                }
                            </ul>
                        </div>
                        
                        if(i%3 == 0)
                        {
                            Html.Raw("</div><div class=\"row\">");
                        }
                    }
                </div>
            break;
        }
    }
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-xs-6">
            <label for="unit-count" class="control-label pull-left">How many of them?</label><input type="number" id="unit-count" name="unit-count" class="form-control" />
        </div>
        <div class="col-xs-6">
            <label for="add-unit-to-collection" class="control-label">&nbsp;</label><button type="button" class="btn btn-success form-control" id="add-unit-to-collection"><i class="glyphicon glyphicon-save"></i>Save changes</button>
        </div>
    </div>
</div>