﻿@model Kollection.ViewModels.CollectionDetailsViewModel

@{
    ViewBag.Title = "Collection Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12">
    <h2>@Html.DisplayFor(model => model.Name)</h2>
</div>

<div class="col-xs-12 col-sm-6">
    <h3>@Html.DisplayNameFor(model => model.Description)</h3>
    @Html.DisplayFor(model => model.Description)
</div>

<div class="col-xs-12 col-sm-6">
    <h3>@Html.DisplayNameFor(model => model.Image)</h3>
    <img src="@Html.ValueFor(model => model.Image)">
</div>

<table width="100%" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Wargear</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var unit in Model.Units)
        {
            <tr>
                <td>@unit.Name</td>
                <td><ul>@Html.Raw(unit.Wargear)</ul></td>
                <td>@unit.Quantity</td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
