﻿@model Kollection.Model.Entities.Collection
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = ViewBag.AddEdit + " Collection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/fileupload")

    <script type="text/javascript">
        $(document).on('click', '#collection-add-unit', function(e) {
            //Get the id of the selected unit
            var _unit = $('#collection-unit-selector option:selected').val();
            $('#UnitId').val(_unit);

            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '/Units/Modal/' + _unit,
                success: function (data) {
                    $('#pageModal .modal-content').html(data);
                    $('#pageModal').modal('show');
                },
                error: function () {
                    $('#pageModal .modal-content').html(
                        '<div class="modal-header">' +
                        '    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                        '    <h4 class="modal-title">Error!</h4>' +
                        '</div>' +

                        '<div class="modal-body"><div class="panel panel-danger">' +
                        '   <h2>Something has gone wrong</h2>' +
                        '</div>' +
                        '</div>' +
                        '<div class="modal-footer">' +
                        '    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>' +
                        '    <button type="button" class="btn btn-primary">Save changes</button>' +
                        '</div>'
                    );
                    $('#pageModal').modal('show');
                }
            });
        });

        $(document).on('click', '.collection-remove-unit', function (e) {
            $(this).parents('tr').remove();
        });

        $(document).on('click', '#add-unit-to-collection', function(e) {
            var wargear = [];
            var wargearText = '<ul>';
            $.each($('input[type=checkbox]:checked'), function (k, v) {
                wargear[wargear.length] = $(v).val();
                vn = $(v).next();
                wargearText += '<li>' + vn[0].innerText + '</li>';
            });
            wargearText += '</ul>';
            
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/Collections/AddUnits',
                data: {
                    collectionId: $('#Id').val(),
                    unitId: $('#UnitId').val(),
                    quantity: $('#unit-count').val(),
                    wargearIds: wargear
                },
                success: function (data) {
                    console.log(data);
                }
            });

            for (j = 0; j < $('#unit-count').val() ; j++) {
                $('#collection-unit-table').append('<tr>' +
                    '<td>' + $('.modal-title').text() + '</td>' +
                    '<td>' + wargearText + '</td>' +
                    '<td><button type="button" class="btn btn-danger icon collection-remove-unit"><i class="glyphicon glyphicon-trash"></i></button></td>' +
                    '</tr>');
            }
            $('#pageModal').modal('hide');
        });
    </script>
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @if (ViewBag.AddEdit == "Edit")
        {
            @Html.HiddenFor(model => model.UserId)
        }
        else
        {
            <input id="UserId" name="UserId" type="hidden" value="@User.Identity.GetUserId()">
        }  
        
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>        
        
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label" })
                @Html.HiddenFor(model => model.Image, htmlAttributes: new { @class = "image-src" })
                <div class="fileupload">
                    <img src="@Html.DisplayFor(model => model.Image)" class="upload-preview" />
                    <input type="file" class="form-control image-upload" />
                </div>
            </div>
        </div>  
    </div>

    <input type="hidden" id="UnitId" />

    if (Model != null && Model.Units != null)
    {
        <div class="row">
            <div class="col-xs-12">
                <h3>Units in this Collection</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 no-padding">
                <div class="col-xs-10">
                    <select id="collection-unit-selector" class="form-control">
                        @foreach (var unit in ViewBag.Units)
                        {
                            <option value="@unit.Id">@unit.Name</option>
                        }
                    </select>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success form-control icon" id="collection-add-unit"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table id="collection-unit-table" class="table table-striped table-primary">
                    <thead>
                        <tr>
                            <th>Unit</th>
                            <th>Wargear</th>
                            <th class="sorter-false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var collectionUnit in Model.Units)
                        {
                            <tr>
                                <td>
                                    @collectionUnit.Unit.Name @*(@collectionUnit.Unit.Points pts)*@
                                </td>
                                <td>
                                    <ul>
                                        @foreach (var wargear in collectionUnit.Wargears)
                                        {
                                           <li>@wargear.Wargear.Name @*@(wargear.Wargear.Points > 0 ? "(" + wargear.Wargear.Points + " points)" :"")*@</li>
                                        }
                                    </ul>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger remove-wargear icon"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>  
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>