﻿@{
    ViewBag.Title = "Home Page";
}

<div class="carousel slide">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/images/bg01.jpg"/>
        </div>
        <div class="item">
            <img src="~/Content/images/bg02.jpg"/>
        </div>
        <div class="item">
            <img src="~/Content/images/bg03.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/bg04.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/bg05.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/bg06.jpg" />
        </div>
        <div class="item">
            <img src="~/Content/images/bg07.jpg" />
        </div>
    </div>
</div>

<div id="home-title">
    <h1>40Kollection</h1>
    <h2>A place to track your models, armies, and lists</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Track your models</h2>
        <p>40Kollection allows you to keep track of the models that make up your collection.</p>
        <p>Configure each model with the wargear you have available in your kit, especially handy when you have magnetised parts and have different options available.</p>
    </div>
    <div class="col-md-4">
        <h2>Army builder</h2>
        <p>Put together and track army lists for all of your games.</p>
        <p>Points get calculated automatically based on your models, squads and wargear, and can even be printed out in a couple of handy formats.</p>
    </div>
    <div class="col-md-4">
        <h2>Coming soon</h2>
        <p>It's not just your armies that you need to keep track of; in the future you'll be able to track the spare bits that you have, or even which ones you have put on each model.</p>
        <p>This will make it easier for you to find out what you need to stretch your kits further.</p>
    </div>
</div>