﻿@model Kollection.ViewModels.SquadViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = ViewBag.AddEdit + " Squad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/fileupload")

    <script type="text/javascript">
        $(document).on('click', '#add-unit', function(e) {
            //Get the id of the selected unit
            var _unit = $('#unit-list option:selected').val();
            var _collection = $('#CollectionId').val();

            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '/Units/ModalCollection/' + _unit + '?collectionId=' + _collection,
                success: function(data) {
                    $('#pageModal .modal-content').html(data);
                    $('#pageModal').modal('show');
                },
                error: function() {
                    $('#pageModal .modal-content').html(
                        '<div class="modal-header">' +
                        '    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                        '    <h4 class="modal-title">Error!</h4>' +
                        '</div>' +

                        '<div class="modal-body"><div class="panel panel-danger">' +
                        '   <h2>Something has gone wrong</h2>' +
                        '</div>' +
                        '</div>' +
                        '<div class="modal-footer">' +
                        '    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>' +
                        '    <button type="button" class="btn btn-primary">Save changes</button>' +
                        '</div>'
                    );
                    $('#pageModal').modal('show');
                }
            });
        });

        $(document).on('click', '#add-unit-to-squad button', function (e) {
            var _units = [];
            $.each($('input[type=checkbox]:checked'), function (k, v) {
                _units[_units.length] = $(v).val();
            });

            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/Squads/AddUnits',
                data: {
                    'id': $('#Id').val(),
                    'collectionUnits': _units
                },
                success: function (data) {
                    $('#pageModal').modal('hide');
                }
            });
        });

        $(document).on('click', '.remove-squad-unit', function (e) {
            $this = $(this);
            $.ajax({
                type: 'GET',
                url: '/Squads/RemoveUnit',
                data: {
                    'id': $this.data('id')
                },
                success: function (data) {
                    $this.closest('tr').remove();
                }
            });
        });
    </script>
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        
        @if (ViewBag.AddEdit == "Edit")
        {
            @Html.HiddenFor(model => model.UserId)
        }
        else
        {
            <input id="UserId" name="UserId" type="hidden" value="@User.Identity.GetUserId()">
        }     
        
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.SquadRoleId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("SquadRoleId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SquadRoleId, "", new { @class = "text-danger" })
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.CollectionId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("CollectionId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CollectionId, "", new { @class = "text-danger" })
            </div>
        </div>   

        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label" })
                @Html.HiddenFor(model => model.Image, htmlAttributes: new { @class = "image-src" })
                <div class="fileupload">
                    <img src="@Html.DisplayFor(model => model.Image)" class="upload-preview" />
                    <input type="file" class="form-control image-upload" />
                </div>
            </div>
        </div>
    </div>

    if (Model != null && Model.Id != null)
    {
        <div class="row">
            <div class="col-xs-12">
                <h3>Units in this squad</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10">
                <select id="unit-list" class="form-control">
                    @foreach (var unit in ViewBag.Units)
                    {
                        <option value="@unit.Id">@unit.Name</option>
                    }
                </select>
            </div>
            <div class="col-xs-2">
                <a class="btn btn-success form-control" id="add-unit">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table width="100%" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Wargear</th>
                        <th class="sorter-false"></th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach(var unit in Model.Units)
                        {
                            <tr>
                                <td>@unit.UnitName</td>
                                <td><ul>@Html.Raw(unit.UnitWargear)</ul></td>
                                <th><a class="btn btn-danger icon remove-squad-unit" data-id="@unit.CollectionUnitId"><i class="glyphicon glyphicon-trash"></i></a></th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
