﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Droid Sans', sans-serif;
}

ul {
    padding-left: 16px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn:not(.icon) i.glyphicon {
    margin-right: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

#home-title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
}

#home-title h1, #home-title h2 {
    text-align: center;
    color: #FFFFFF;
    text-shadow:
        -2px -2px 0 #000000,  
        2px -2px 0 #000000,
        -2px 2px 0 #000000,
        2px 2px 0 #000000;
}

#home-title h1 {
    font-size: 72px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.tablesorter-header {
    background-repeat: no-repeat;
    background-position: right;
}

.tablesorter-header.tablesorter-headerUnSorted {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
}

.tablesorter-header.tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}

.tablesorter-header.tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

th.tablesorter-header.sorter-false {
    background-image: none;
}

.upload-preview {
    width: 100%;
    max-height: 300px;
}

.no-padding>div {
    padding: 0;
}

.unit-stats label { 
    text-align: center;
    width: 100%;
    display: block;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0;
}

@media (min-width: 1200px) {
    #home-title {
        top: 125px;
    }
}

@media (max-width: 990px) {
    #home-title {
        top: 90px;
    }
}

@media (max-width: 768px) {
    #home-title {
        top: 75px;
    }

    #home-title h1 {
        font-size: 48px;
    }

    #home-title h2 {
        font-size: 22px;
    }
}

@media (max-width: 550px) {
    #home-title {
        top: 50px;
    }

    #home-title h2 {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    #home-title h1 {
        font-size: 40px;
    }

    #home-title h2 {
        display: none;
    }
}