﻿@model Kollection.Model.Entities.Wargear

@{
    ViewBag.Title = "Wargear Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        
        <dt>
            Slot @Html.DisplayNameFor(model => model.WargearSlot.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WargearSlot.Name)
        </dd>
    </dl>
    <table class="table table-striped">
        <tr>
            <th width="13%">Range</th>
            <th width="13%">Type</th>
            <th width="13%">Strength</th>
            <th width="13%">AP</th>
            <th width="13%">Damage</th>
            <th width="35%">Abilities</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Strength)</td>
            <td>@Html.DisplayFor(model => model.AP)</td>
            <td>@Html.DisplayFor(model => model.Damage)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
