﻿@model Kollection.Model.Entities.Wargear

@{
    ViewBag.Title = ViewBag.AddEdit + " Wargear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/fileupload")
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="col-sm-6">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WargearSlotId, "WargearSlotId", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("WargearSlotId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WargearSlotId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Points, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Points, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Points, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label" })
                @Html.HiddenFor(model => model.Image, htmlAttributes: new { @class = "image-src" })
                <div class="fileupload">
                    <img src="@Html.DisplayFor(model => model.Image)" class="upload-preview" />
                    <input type="file" class="form-control image-upload" />
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <table class="table table-striped">
                <tr>
                    <th width="13%">Range</th>
                    <th width="13%">Type</th>
                    <th width="13%">Strength</th>
                    <th width="13%">AP</th>
                    <th width="13%">Damage</th>
                    <th width="35%">Abilities</th>
                </tr>
                <tr>
                    <td>@Html.EditorFor(model => model.Range, new { htmlAttributes = new { @class = "form-control" } })</td>
                    <td>@Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })</td>
                    <td>@Html.EditorFor(model => model.Strength, new { htmlAttributes = new { @class = "form-control" } })</td>
                    <td>@Html.EditorFor(model => model.AP, new { htmlAttributes = new { @class = "form-control" } })</td>
                    <td>@Html.EditorFor(model => model.Damage, new { htmlAttributes = new { @class = "form-control" } })</td>
                    <td>@Html.EditorFor(model => model.Abilities, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
